<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.music125.stock.biz.dal.CompanyMapper">


    <insert id="insert" keyProperty="id" keyColumn="id" useGeneratedKeys="true" parameterType="CompanyDO">
        insert into stock_company(
        <trim suffixOverrides=",">
            stock_exchange,
            name,
            stock_code,
            is_delete,
            gmt_created,
            gmt_modified,
        </trim>
        )
        values
        <foreach collection="list" item="kdo" separator=",">
            (#{kdo.stockExchange},
            #{kdo.name},
            #{kdo.stockCode},
            0,
            now(),
            now())
        </foreach>
    </insert>

    <select id="listAllCompany" resultType="CompanyDO">
        SELECT
            cm.id,
            cm.stock_exchange AS 'stockExchange',
            cm.stock_code AS 'stockCode',
            max_kchart.date AS 'lastDate'
        FROM
            stock.stock_company cm
            LEFT JOIN ( SELECT stock_code, MAX( date ) AS date FROM stock_kchart GROUP BY stock_code ) max_kchart ON max_kchart.stock_code = cm.stock_code
        WHERE
            LEFT ( cm.stock_code, 2 ) IN ( '00', '30', '60' ) and cm.stock_code='000001' and cm.stock_exchange='sh'
            AND cm.is_delete = 0;
    </select>

</mapper>