<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.music125.stock.biz.dal.KchartMapper">


    <insert id="insert" keyProperty="id" keyColumn="id" useGeneratedKeys="true" parameterType="KchartDO">
        insert into stock_kchart(
        <trim suffixOverrides=",">
            stock_code,
            date,
            opening_price,
            closing_price,
            high_price,
            low_price,
            trading_volume,
            turnover_rate,
            turnover,
            yesterday_closing_price,
            source_id,
            is_delete,
            gmt_created,
            gmt_modified,
        </trim>
        )
        values
        <foreach collection="list" item="kdo" separator=",">
            (#{kdo.stockCode},
            #{kdo.date},
            #{kdo.openingPrice},
            #{kdo.closingPrice},
            #{kdo.highPrice},
            #{kdo.lowPrice},
            #{kdo.tradingVolume},
            #{kdo.turnoverRate},
            #{kdo.turnover},
            #{kdo.yesterdayClosingPrice},
            #{kdo.sourceId},
            0,
            now(),
            now())
        </foreach>
    </insert>
    <select id="queryAllLastKchart" resultType="com.music125.stock.biz.dal.model.KchartDO">
        SELECT
            `id`, `stock_code`, `date`, `opening_price`, `closing_price`, `high_price`, `low_price`, `trading_volume`, `turnover_rate`, `turnover`, `yesterday_closing_price`, `source_id`
        FROM
            stock_kchart kchart
            INNER JOIN ( SELECT stock_code, MAX( date ) AS date FROM stock_kchart GROUP BY stock_code ) max_kchart ON kchart.stock_code = max_kchart.stock_code
            AND kchart.date = max_kchart.date
    </select>

</mapper>